@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Domine&family=Merriweather&family=Noto+Serif&family=Playfair+Display&family=Roboto&family=Source+Sans+Pro&family=Work+Sans&family=Inter&family=Urbanist&family=Space+Mono&display=swap');
@import '@solana/wallet-adapter-react-ui/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/grid';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}

.sidebar-scroll {
  @apply overflow-y-scroll;
}

@media screen(md) {
  .sidebar-scroll {
    max-height: calc(100vh - 74px);
  }
}

body,
html {
  @apply bg-gray-900;
}

.input {
  @apply rounded-lg border border-gray-800;
}
.wallet-modal-theme .wallet-adapter-modal-wrapper {
  @apply bg-gray-900 font-sans;
}

.wallet-modal-theme .wallet-adapter-button:not([disabled]):hover {
  @apply bg-gray-800;
}

.wallet-modal-theme .wallet-adapter-modal-button-close {
  @apply bg-gray-800;
}

.swiper-button-disabled {
  @apply opacity-0;
}

:focus-visible {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  /* -webkit-appearance: none; */
  color: white;
  filter: brightness(10);
}
