@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Domine&family=Merriweather&family=Noto+Serif&family=Playfair+Display&family=Roboto&family=Source+Sans+Pro&family=Work+Sans&family=Inter&family=Urbanist&family=Space+Mono&display=swap');
@import '@solana/wallet-adapter-react-ui/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/grid';
@import 'react-toastify/dist/ReactToastify.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  @apply text-white;
}

body,
html {
  @apply bg-black;
}

.preload-bulb-images::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(/images/animated/gem/1.svg) url(/images/animated/bulb/1.svg)
    url(/images/animated/bulb/2.svg) url(/images/animated/bulb/3.svg)
    url(/images/animated/bulb/4.svg) url(/images/animated/bulb/5.svg)
    url(/images/animated/bulb/6.svg) url(/images/animated/bulb/7.svg)
    url(/images/animated/bulb/8.svg) url(/images/animated/bulb/9.svg)
    url(/images/animated/bulb/10.svg) url(/images/animated/bulb/11.svg)
    url(/images/animated/bulb/12.svg) url(/images/animated/bulb/13.svg)
    url(/images/animated/bulb/14.svg) url(/images/animated/bulb/15.svg)
    url(/images/animated/bulb/16.svg) url(/images/animated/bulb/17.svg)
    url(/images/animated/bulb/18.svg) url(/images/animated/bulb/19.svg)
    url(/images/animated/bulb/20.svg) url(/images/animated/bulb/21.svg);
}

.input {
  @apply rounded-md border border-gray-700;
}
.wallet-modal-theme .wallet-adapter-modal-wrapper {
  @apply rounded-2xl bg-gray-800 font-sans;
}

.wallet-modal-theme .wallet-adapter-button:not([disabled]):hover {
  @apply bg-gray-800;
}

.wallet-modal-theme .wallet-adapter-modal-button-close {
  @apply bg-gray-800;
}

.swiper-button-disabled {
  @apply opacity-0;
}

:focus-visible {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  /* -webkit-appearance: none; */
  color: white;
  filter: brightness(10);
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child,
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
}

.fade-enter div {
  opacity: 0;
  /* transform: translateY(-100%); */
}
.fade-exit div {
  opacity: 1;
  /* transform: translateY(0%); */
}
.fade-enter-active div {
  opacity: 1;
  /* transform: translateY(0%); */
}
.fade-exit-active div {
  opacity: 0;
  /* transform: translateY(100%); */
}
.fade-enter-active div,
.fade-exit-active div {
  transition: opacity 250ms, transform 250ms;
}

.faded-gradient-text {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -13.46%,
    rgba(255, 255, 255, 0.568842) 20.3%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@import 'collection.css';
@import 'error.css';
