name: Validate Build - nextjs via vercel
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches: [dev, qa, beta, main, prod]

  pull_request:
    types: [opened, reopened]

jobs:
  build:
    name: Validating nextjs build for Vercel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install --global vercel@canary

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Image
        id: build-image
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
